.carousel-inner .carousel-caption {
    text-align: left;
}
.content {
    margin-top: 30px;
}
.content .container h2 {
    font-size: 20px;
}
.content .container h3 strong {
    color: #f47932;
    font-size: 50px;
}
.content .container h3 {
    color: black;
    font-weight: 700;
    font-size: 50px;
}
.content .text p {
    margin-top: 30px;
}
.content .container .card {
    justify-content: center;
}
.content .container .card a {
    font-weight: 700;
}
.content .container .card a i {
    font-size: 30px;
    color: #82c55b;
    margin-right: 10px;
}
.content .container .list {
    margin-top: 30px;
}
.content .container .list h3 {
    color: #f47932;
    font-size: 20px;
    margin-bottom: 20px;
}
.content .container .list h3 i {
    font-size: 50px;
    color: #82c55b;
    margin-bottom: 20px;
}
.comment .text h3 {
    font-size: 50px;
    color: black;
    font-weight: 700;
}
.comment .text h3 strong {
    font-size: 50px;
    color: #f47932;
}
.comment .text p {
    font-size: 20px;
    margin-bottom: 30px;
}
.team {
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.team h3 {
    font-size: 30px;
    color: black;
    font-weight: 700;
}
.team p {
    color: #f47932;
    font-size: 16px;
}
.team .button-1 {
    background-color: #f47932;
    border: solid #f47932;
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
    color: white;
    transition: 0.5s;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}
.team .button-1:hover {
    color: #f47932;
    background-color: white;
}
.welcome {
    padding: 100px 0;
    background-image: url(../img/Banner/banner-11.png);
    background-size: cover;
    background-position: center;
}
.welcome img {
    max-width: 100%;
}
.welcome .container .header h3 {
    font-size: 50px;
    color: black;
    font-weight: 700;
}
.welcome .container .header h3 strong {
    font-size: 50px;
    color: #f47932;
}
.welcome .container .content {
    display: flex;
}
.welcome .container .content h3 {
    color: #f47932;
    font-size: 20px;
}
.welcome .container .content i {
    color: #82c55b;
    font-size: 75px;
    margin-right: 20px;
}
.welcome .container a img {
    width: 250px;
    margin: 0 auto;
    transition: 0.5s;
}
.welcome .container a img:hover {
    transform: rotate(10deg);
}
.welcome .time {
    background-color: #82c55b;
    border: solid #82c55b;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin-left: 131px;
}
.welcome .time .content {
    display: block;
    margin-left: 20px;
    color: white;
}
.welcome .time .content h1 {
    font-size: 30px;
}
.welcome .time i {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    font-size: 40px;
}
.gallery .container .header {
    display: flex;
}
.gallery .container .header h3 strong {
    color: #f47932;
    font-size: 16px;
    font-weight: normal;
}
.gallery .container .header h3 {
    font-size: 50px;
    font-weight: 700;
    color: black;
}
.gallery .container .header .button-1 {
    background-color: #f47932;
    border: solid #f47932;
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
    color: white;
    transition: 0.5s;
    font-size: 20px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 500px;
}
.gallery .container .header .button-1:hover {
    color: #f47932;
    background-color: white;
}
.gallery .container .card {
    border: none;
}
.gallery .container .card img {
    border: none;
    border-radius: 20px;
}
.gallery .container .card .title {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 100%;
    color: white;
    transition: 0.5s;
    font-size: 40px;
    opacity: 0;
}
.gallery .container .card:hover .title {
    opacity: 1;
}
@media (max-width: 1258px) {
    .carousel-inner h3 {
        font-size: 70px;
    }
}
@media (max-width: 880px) {
    .welcome .time {
        margin-left: 70px;
    }
}
@media (max-width: 767px) {
    .team .container {
        width: 30%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}
