img {
    margin-bottom: 20px;
}
.content2 i {
    color: #f47932;
    font-size: 50px;
    margin-top: 20px;
}
.content2 span {
    font-weight: 700;
    font-size: 25px;
}
.content2 p {
    margin-top: 20px;
}
